.exercise9__tab-button {
  display: inline-block;
  min-width: 6em;
  text-align: center;
  border: unset;
  font-size: 1.4em;
  background: unset;
  border-radius: 8px 8px 0 0;
  border: none;
  color: black;
}

.exercise9__tab-button.active {
    border: 1px solid rgba(58, 93, 155, 60%);
}

.exercise9__tab-button:hover {
    border: 1px solid rgba(58, 93, 155, 60%);
}

